@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.mainWrap {
  margin: 90px auto 0 auto;
  position: relative;
  width: 400px;
  height: 600px;
  cursor: default; }
  .mainWrap .shape {
    stroke-dasharray: 250 1450;
    stroke-dashoffset: -1070;
    stroke-width: 10px;
    fill: transparent;
    stroke: #464655;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s; }
  .mainWrap .contentWrap {
    position: relative;
    top: -565px;
    margin: 0 auto 0 auto; }
    .mainWrap .contentWrap .topWrap, .mainWrap .contentWrap .bottomWrap {
      display: block;
      position: relative;
      background-color: rgba(0, 0, 0, 0.8);
      width: 350px;
      margin: 0 auto;
      height: 250px; }
      .mainWrap .contentWrap .topWrap h1, .mainWrap .contentWrap .bottomWrap h1 {
        text-align: center;
        color: #fff;
        padding-top: 30px;
        font-family: Roboto;
        font-size: 20px;
        letter-spacing: 5px; }
      .mainWrap .contentWrap .topWrap .image, .mainWrap .contentWrap .bottomWrap .image {
        position: relative;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        margin: 20px auto 0;
        border: 5px solid rgba(255, 255, 255, 0.1); }
        .mainWrap .contentWrap .topWrap .image img, .mainWrap .contentWrap .bottomWrap .image img {
          display: block;
          margin: 5% auto;
          width: 95px;
          height: 95px;
          border-radius: 50%; }
      .mainWrap .contentWrap .topWrap .image:before, .mainWrap .contentWrap .bottomWrap .image:before, .mainWrap .contentWrap .topWrap image:after, .mainWrap .contentWrap .bottomWrap image:after, .mainWrap .contentWrap .topWrap span, .mainWrap .contentWrap .bottomWrap span {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        border-radius: 50%;
        box-shadow: 0 0 15px #287ec6;
        animation: radar 2s ease-out infinite; }
      .mainWrap .contentWrap .topWrap .image:after, .mainWrap .contentWrap .bottomWrap .image:after {
        animation-delay: 0.66s; }
      .mainWrap .contentWrap .topWrap span, .mainWrap .contentWrap .bottomWrap span {
        animation-delay: 1.33s; }
@keyframes radar {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  80% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }
    .mainWrap .contentWrap .bottomWrap {
      margin: 20px auto 0 auto; }
      .mainWrap .contentWrap .bottomWrap form {
        padding-top: 40px; }
        .mainWrap .contentWrap .bottomWrap form input {
          display: flex;
          outline: none;
          margin: 20px auto;
          border: none;
          padding: 10px; }
        .mainWrap .contentWrap .bottomWrap form input[type=text], .mainWrap .contentWrap .bottomWrap form input[type=password] {
          border: none;
          border-bottom: 1px solid #464655;
          background-color: rgba(0, 0, 0, 0.9);
          color: #fff;
          transition: 0.5s;
          font-family: Roboto;
          text-align: center; }
          .mainWrap .contentWrap .bottomWrap form input[type=text]:focus, .mainWrap .contentWrap .bottomWrap form input[type=password]:focus {
            padding: 10px 20px; }
      .mainWrap .contentWrap .bottomWrap button {
        display: block;
        outline: none;
        margin: 55px auto 0 auto;
        padding: 20px 30px;
        border: none;
        font-family: Roboto;
        background-color: #222;
        cursor: pointer;
        transition: 0.5s cubic-bezier(1, 0.64, 0.3, 1.05); }
        .mainWrap .contentWrap .bottomWrap button:hover {
          background-color: rgba(0, 0, 0, 0.9);
          padding: 30px 40px;
          color: #fff; }

.mainWrap:hover .shape {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 2000; }

.main {
  background-color: red;
  width: 400px;
  height: 400px; }

body {
  overflow-y: hidden; }
  body video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

/*# sourceMappingURL=main.css.map */
